html {
  font-size: 100%;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #1A1A1A;
  background-color: #fff;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1583px;
  padding: 0 10%;
  overflow: hidden;
}

.header-title {
  margin: 0 auto;
  max-width: 937px;
  width: 816px;
}

h1 {
  font-size: 3.56rem;
  line-height: 69px;
  margin: 0;
}

h1+p {
  font-family: "Roboto slab";
  font-size: 3rem;
  line-height: 57px;
  font-weight: 400;
  color: #4D4D4D;
  float: right;
  padding-right: 18%;
  margin: 0;
}

.bcg {
  position: relative;
  padding-top: 70px;
}

.bcg::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-top: 353px solid #F6F5F0;
  border-right: 1100px solid transparent;
  z-index: -1;
  left: 0;
  top: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.stock-preview {
  width: 100%;
  position: relative;
  max-width: 720px;
  z-index: -2;
}

.stock-limitation {
  font-size: 14px;
  line-height: 15px;
  color: #808080;
  width: 45%;
}

.stock-btn{
  position: relative;
}

.stock-btn::after {
  content: "";
  position: absolute;
  background: url("../img/arrow.png") no-repeat;
  background-size: contain;
  width: 97px;
  height: 105px;
  top: 40%;
  right: -62%;
}

.title {
  margin: 0 auto;
  width: 410px;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  bottom: 40%;
  right: 473px;
  background-color: #CCCCCC;
  height: 2px;
  width: 200%;
}

.title::after {
  content: "";
  position: absolute;
  bottom: 40%;
  left: 473px;
  background-color: #CCCCCC;
  height: 2px;
  width: 200%;
}

.work-description-title {
  margin-top: 7%;
}

.work-description-content {
  display: block;
  float: left;
  text-align: center;
  font-size: 21px;
  line-height: 28px;
  font-weight: 400;
  padding-top: 170px;
  width: 23%;
  position: relative;
  margin-right: 2%;
  margin-top: 73px;
}

.work-description-content:last-child {
  margin-right: 0;
}

.work-description-content::before {
  content: "";
  width: 101px;
  height: 101px;
  position: absolute;
  border-radius: 50%;
  background-color: #EA6F1C;
  top: 34px;
  left: 23%;
  padding: 10px;
  border: 8px solid #ffffff;
  box-shadow: 0 0 0 5px #EA6F1C;
  color: #ffffff;
  font-size: 60px;
  line-height: 101px;
  text-align: center;
}

.description-item-1::before {
  content: "1";
  opacity: 0.3;
}

.description-item-2::before {
  content: "2";
  opacity: 0.5;
}

.description-item-3::before {
  content: "3";
  opacity: 0.7;
}

.description-item-4::before {
  content: "4";
}

.btn {
  background-color: #8AB73B;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #9ECE34;
}

.btn:active {
  background-color: #7B9E30;
}

img {
  max-width: 100%;
  height: auto;
}

.stock-preview {
  width: 45%;
  float: left;
  margin-left: 10%;
  padding-top: 10%;
}

.stock-description {
  float: right;
  width: 40%;
  margin-left: 5%;
  padding-top: 44px;
}

.stock-text {
  font-weight: 400;
  width: 80%;
  max-width: 315px;
}

.stock-btn {
  display: inline-block;
  margin-top: 3%;
  margin-bottom: 2%;
  padding: 30px 12%;
  position: relative;
}

.stock-condition {
  display: inline-block;
  text-align: left;
  position: relative;
  width: 95%;
  min-width: 200px;
  font-size: 34px;
  line-height: 42px;
  font-weight: 500;
}

.stock-condition::after {
  width: 20%;
  height: 50%;
  border-radius: 10px;
}

.stock-condition p {
  margin: 0;
}

.new-cost {
  color: #8AB73B;
  font-weight: bold;
  position: relative;
}

.old-cost {
  text-decoration: line-through;
  color: #999999;
  font-weight: 500;
}

h2 {
  display: inline-block;
  font-size: 45px;
  line-height: 54px;
  margin: 0;
}

.slider-title {
  margin-top: 120px;
  margin-bottom: 60px;
}

.slider {
  height: 50%;
  overflow: hidden;
  position: relative;
}

.slider::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(to right, #ffffff, transparent);
  width: 17%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.slider::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(to left, #ffffff, transparent);
  width: 17%;
  height: 90%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.slider-items {
  width: 1000%;
  position: relative;
}

.slider-items ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -600px;
}

.slider-item {
  float: left;
  text-align: center;
  margin-right: 1%;
  font-size: 21px;
}

.slider-arrow {
  position: absolute;
  width: 62px;
  height: 62px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 2;
  border: none;
}

.slider-left-arrow {
  top: 35%;
  left: 7%;
}

.slider-left-arrow::after {}

.slider-right-arrow {
  top: 35%;
  right: 7%;
}

.order {
  position: relative;
}

.order::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-top: 353px solid #F6F5F0;
  border-right: 1100px solid transparent;
  z-index: -1;
  left: -15%;
  top: 31px;
}

.order::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-bottom: 353px solid #F6F5F0;
  border-left: 1100px solid transparent;
  z-index: -1;
  right: -15%;
  bottom: -180px;
}

.order-form {
  margin: 0 auto;
  width: 36%;
  max-width: 435px;
  padding: 5% 5%;
  margin-top: 75px;
  border: 3px solid #DBDBD2;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
  min-width: 385px;
}

.order-form p {
  text-align: center;
  margin: 0;
}

.form-input {
  padding: 20px 20px;
  border-radius: 10px;
  border: 3px solid #DBDBD2;
  width: 75%;
  text-align: center;
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 24px;
}

.form-btn {
  display: inline-block;
  text-align: center;
  padding: 20px 20%;
  width: 85%;
  border: none;
}

.form-about {
  font-family: "Myriad Pro", sans-serif;
  margin-top: 27px;
  font-size: 15px;
  color: #666666;
}

.conditions {
  width: 260px;
  margin: 60px auto;
}

.conditions a {
  line-height: 26px;
  font-size: 23px;
  color: #666666;
  font-weight: 400;
}

.conditions a:hover {
  color: #4C4C4C;
}

.conditions a:active {
  color: #3A3A3A;
}

.conditions a:visited {
  color: #443A51;
}

@media screen and (min-width: 980px) and (max-width: 1100px) {
  .stock-preview {
    padding-top: 20%;
  }
  .stock-order::after {
    left: 70%;
  }
  .form-btn {
    padding: 10px 25%;
  }
}

@media screen and (min-width: 830px) and (max-width: 980px) {
  h1 {
    font-size: 48px;
  }
  .stock-preview {
    padding-top: 20%;
  }
  .stock-order::after {
    left: 80%;
  }
  .container {
    padding: 0 5%;
  }
}

@media screen and (max-width: 830px) {
  .bcg::before {
    border-top: 120px solid #F6F5F0;
  }
  .header-title {
    padding-left: 5%;
  }
  h1 {
    font-size: 32px;
  }
  h1+p {
    font-size: 25px;
    padding-right: 50%;
    line-height: 28px;
  }
  .title {
    width: 300px;
    text-align: center;
  }
  .title::before {
    right: 310px;
  }
  .title::after {
    left: 300px;
  }
  h2 {
    font-size: 28px;
  }
  .stock-preview {
    width: 80%;
    padding-top: 20%;
    padding-top: 20px;
    z-index: 1;
  }
  .stock-preview {
    float: none;
  }
  .stock-description {
    float: none;
  }
  .stock-order {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .stock-order::after {
    left: 80%;
  }
  .container {
    padding: 0 5%;
  }
  .stock-description {
    width: 70%;
    margin: 0 auto;
    padding-top: 0px;
  }
  .stock-text {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .stock-btn {
    padding: 30px 20%;
    margin: 0 auto;
  }
  .stock-order::after {
    background: none;
  }
  .stock-condition {
    text-align: center;
    font-size: 27px;
    line-height: 30px;
  }
  .stock-limitation {
    width: 100%;
    text-align: center;
  }

  .work-description-content {
    font-size: 16px;
    margin-top: 0;
    padding-top: 30px;
    display: inline-block;
    text-align: left;
    padding-left: 20%;
    line-height: 20px;
    width: 80%;

  }
  .work-description-content::before {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 25px;
    top: 35%;
    left: 0;
  }
  .slider-title {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
